body {
    background-color: #fffcf2;
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px; 
}

.main-header {
    color: #fffcf2;
    background-image: linear-gradient(to bottom right, #2aa4cf, #65c5bc, #6377be, #71afdc);
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;      /* vertical centering */
    padding: 0 48px;          /* not too close to left/right */
    max-height: 100px;  
    font-size: 32px;
}

main {
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}

.greeting {
    color: #0051ba;
    text-align : center;
}

.greeting-content {
    display: flex;
    align-items: center;      /* vertical centering */
    padding: 0 500px;          /* not too close to left/right */
    min-height: 70px;  
    color: #0051ba;
    font-size: 30px;
}