body {
    background-color: #fffcf2;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 12; 
}

header {
    color: #fffcf2;
    background-image: linear-gradient(to bottom right, #2aa4cf, #65c5bc, #6377be, #71afdc);
    font-family: "Lato", sans-serif;
}

main {
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}